@tailwind base;
@tailwind components;
@tailwind utilities;

.table td, .table th {
  padding: 1rem;
  vertical-align: middle;
  white-space: normal;
}

.outlined-text {
    text-shadow: 
        1px 1px 3px #000;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(136 136 136 / 28%);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(241 241 241 / 12%);
}